*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about{
    height: 100vh;
    width: 100%;
    transition: all 1s;
}

.heading{
	height: 20vh;
	position: relative;
	width: 60vw;
	margin: 0 auto;
}

.black_heading{
	position: relative;
	padding: 10vh 0;
	font-size: 2rem;	
}

.black_heading::after{
    content: "";
    display: block;
    width: 5rem;
    height: 1.75px;
    background-color: black!important;
    border-radius: 10px;
}

.main_content{
	height: 80vh;
	position: relative;
	width: 60vw;
	margin: 0 auto;
	display: flex;
}

.text_container{
	width: 30vw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.textarea{
	color: black;
	overflow: hidden;
	height: 50%;
	width: 80%;
    border:.1px solid rgba(0,0,0,.1);
    box-shadow: 1px 1px black;
    padding: 20px;
}

.textarea p{
	margin-top:16px;
}

.image{
	width: 30vw;
	height: 100%;
}

.image img{
	height: 100%;
	width: 100%;
}