*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul{
    display: flex;
}

header ul li{
    list-style: none;
    padding: 0 25px;
    height: 40px;
}

header ul li a{
    text-decoration: none;
    color: white;
    line-height: 40px;
}

.logo{
    height: 100%;
    width: 40px;
}

header ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: skyblue;
}

.Hamburger{
    display: none;
    color: white;
    font-size: 30px;
}

.logo_header_sm_screen{
    display: none;
}

.navmenu_small_screen{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.navmenu_small_screen ul{
    display: flex;
    flex-direction: column;
}

.navmenu_small_screen ul li{
    list-style: none;
    padding-top: 30px;
}

@media (max-width:750px){
    .navmenu_small_screen{
        display: none;
    }
    .navmenu_small_screen.responsive{
        display: flex;
        height: 100vh;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        background-color: #333;
    }

    .navmenu_small_screen ul{
        display: flex;
        flex-direction: column;
    }
    
    .navmenu_small_screen ul li{
        list-style: none;
        padding-top: 30px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .navmenu_small_screen ul li a{
        text-decoration: none;
        color: white;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header ul{
        display: none;
    }
    .Hamburger{
        display: block;
        padding-left: 20px;
    }
    .logo_header_sm_screen{
        display: block;
        padding-right: 20px;
    }
}