/* making nav menue responsive  */
/* for mobile phones  */

:root{
    --small-screen-margin: auto 50px;
}

.responsive{
    display: flex!important;
}
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
        background-color: #fff; /* Example: change background color for mobile */
    }
    .header{
        border-radius: 0 0 150px 0;
        overflow: hidden;
    }
    .header .nav_bar{
        margin: 0;
    }

    .header .nav_bar ul li{
        list-style: none;
        padding: 0 12px;
    }
    .header .nav_bar .nav_menu{
        display: none;
    }

    .header .nav_bar .bar{
        display: flex;
    }

    /* styling hero section  */
    .intro{
        margin: 0;
        padding: 12px;
        height: 100%;
    }
    .intro .intro_text{
        justify-content: center;
    }
    .intro .intro_text h3{
        padding: 8px 0;
        font-size: 0.9rem;
    }
    .intro .intro_text h2{
        font-size: 1rem;
    }
    .call_to_action_container{
        display: flex;
        flex-direction: column;
    }
    .call_to_action_btn{
        padding: 4px 8px;
        margin-bottom: 3px;
        font-size: 8px;
    }
    
    .intro .intro_image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .intro .intro_image img{
        width: 100%;   
    }

    /* styling about section  */
    .about{
        margin: 0;
    }
    .about .about_image{
        width: 40%;
    }
    .about .about_text{
        width: 60%;
        padding: 4px 8px;
    }
    .about .about_text h3{
        font-size: 0.9rem;
    }
    .about .about_text p{
        font-size: 0.6rem;
    }

    
}
/* for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    .header{
        border-radius: 0 0 200px 0;
        overflow: hidden;
    }
    .header .nav_bar{
        margin: var(--small-screen-margin);
    }
    .header .nav_bar ul li{
        list-style: none;
        padding: 0 12px;
    }
    .header .nav_bar .bar{
        display: none;
    }

    #mobile_nav_menu{
        display: none!important;
    }
    /* styling hero section  */
    .intro{
        margin: var(--small-screen-margin);
        padding: 12px;
    }
    .intro .intro_text h3{
        padding: 16px 0;
        font-size: 1.4rem;
    }
    .intro .intro_text h2{
        font-size: 1.9rem;
    }
    .call_to_action_btn{
        padding: 8px 15px;
        margin-bottom: 3px;
        font-size: 10px;
    }
    
    .intro .intro_image img{
        height: 60vh;
    }

        /* styling about section  */
    .about{
        margin: 0;
    }
    .about .about_image{
        width: 40%;
    }
    .about .about_text{
        width: 60%;
        padding: 4px 8px;
    }
    .about .about_text h3{
        font-size: 1.6rem;
    }
    .about .about_text p{
        font-size: 0.8rem;
    }
    

}

@media only screen and (min-width: 1280px) {
    body {
        font-size: 20px;
    }
    .header .nav_bar .bar{
        display: none;
    }
    .mobile_nav_menu{
        display: none!important;
    }
}
