*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav{
    height:  60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 2;
    background: white;
    /* display: none;   */
    
}
nav.background .logo a{
    color: white;
}
nav.background{
    background-color: black;
    color: white;
}

nav.background .nav_menu li a{
    color: white;
}

nav.background .burger a{
    color: white;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid red;
    animation: logo-animation 8s linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
.logo a{
    text-decoration: none;
    color: black;
}
@keyframes logo-animation{
    0%{
        border-radius: 50%  0 50% 0%;
       
        padding: 10px;
    }
    25%{
        border-radius: 0 50% 0 50%;
        
        padding:10px;
    }   
    50%{
        border-radius: 50% 0 50% 0;
        
        padding:10px;
    }
    75%{
        border-radius: 0 50% 0 50%;
        
        padding:10px;
    }
    100%{
        border-radius: 50% 0 50% 0;
        
        padding:10px;
    }
}
.logo span{
    color: Green;
    font-size: 30px;
}

.nav_menu{
    display: flex;
}

.nav_menu li{
    list-style: none;
    padding: 0 20px;
}

.nav_menu li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    border: none;
    text-shadow: 1 1 black;
    cursor: pointer;
    margin: 0 20px;
    transition: .5s;
    padding: 16px;
    overflow: hidden;
}

.nav_menu li a:hover{
    
    border: 1px black solid;
    background-color: green;
}
.btn-burger{
    display: none;
    cursor: pointer;
}

.btn-burger:hover{
    color: white;
    background-color: green;
}

.container{
    min-height: 100vh;
}


/* sidebar  */

.sidebar{
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    transform: translateX(100%);
    background-color: white;
    transition: .5s;
}

.sidebar.clicked{
    transform: translateX(0);
}
.hide-btn{
    cursor:pointer;
}

.sidebar ul{
    display: block;
    box-sizing: border-box;
}

.sidebar ul li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    margin: 10px 20px;
    border-bottom: 1px black solid;
    
}

.sidebar ul li a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    text-align: center;
    
}



/* sidebar  */


/* for slider  */

.prev, .next{
    position: absolute;
    top: 40%;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 30px;
    color: white;
    margin: 20px;
}

.next{
    right: 0;   
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

/* banner  */
.banner{
    width: 100%;
    height: 650px;
    position: relative;
    display: none;
}

.banner img{
    width: 100%;
    height: 100%;
    /* opacity: 0.5; */
}

.banner_description{
    background-color: none;
    color: white;
    width: 50%;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner_description h1{
    margin: 20px;
    font-size: 3rem;
    text-shadow: 1px 1px green;
}

.banner_description p{
    margin: 10px;
    font-size: 1.5rem;
}

.banner_description button{
    padding: 20px;
    width: 160px;
    outline: none;
    margin: 20px 0;
    border-radius: 10px;
    border: 3px black solid;
    cursor: pointer;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #fff;
    transition: 1s;
}

.banner_description button:hover{
    opacity: 0.5;
    transform: rotate(360deg);
}


/* banner  */


/* content  */

.nature{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
.foods{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}
.post{
    max-width: 600px;
    padding-left: 20px;
    padding-bottom: 50px;
    border-bottom: 1px;
    transition: 1s;
    
}
.post1{
    opacity: 0;
    transform: translateX(-25%);
}
.post2{
    opacity: 0;
    transform: translateX(25%);
}
.post.active{
    opacity: 1;
    transform: translateX(0);
}
.post_content{
    max-height: 100px;
    overflow: hidden;
    margin: 20px 0;
    position: relative;
    z-index: 2;
}
.post-img{
    width: 100%;
    height: 300px;
}
.category{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.btn{
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    font-size: 1rem;
    padding: 1.6px 0.9rem;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    transition: 1s;
    z-index: 1;                           ;
}

/* content  */


/* footer  */

footer{
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: white;
    background-color: black;
}
/* footer  */




/* for sign-up form $ login form */



.sign-up-form{
    margin-top: 100px;
}
.login-form{
    margin-top: 100px;
}
.imgcontainer {
    text-align: center;
    /* margin: 24px 0 12px 0; */
  }
  
  /* Avatar image */
  img.avatar {
    height: 400px;
    width: 100%;
    border-radius: 50%;
  }

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 10px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  

  
  /* Float cancel and signup buttons and add an equal width */
  .signupbtn{
    width: 100%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .signupbtn {
      width: 100%;
    }
  }

/* for sign-up form  */

/* for responsive  */

@media (max-width: 760px){
    nav{
        height: 50px;
    }
    .nav_menu .menu{
        display: none;
    }
    .btn-burger{
        display: block;
    }

    .logo{
        font-size: 20px;
    }

    .logo span{
        font-size: 20px;
    }

    .banner{
        max-height: 450px;
    }

    .banner_description h1{
        font-size: 20px;
        text-shadow: none;
    }
    .banner_description button{
        font-size: 20px;
        width: 120px;
        padding: 5px;
    }
    .nature{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .post{
        max-width: 350px;
        margin: 0;
    }
    .post1{
        opacity: 0;
        transform: translateY(0);
    }
    .post2{
        opacity: 0;
        transform: translateY(0);
    }
    footer{
        height: 50px;
        line-height: 50px;
    }
    .category h1{
        font-size: 20px;
    }

    /* login form avatar image  */
    img.avatar {
        height: 400px;
        width: 50%;
        border-radius: 50%;
    }

    .prev, .next{
        position: absolute;
        top: 30%;
        padding: 8px 12px;
        cursor: pointer;
        font-size: 30px;
        color: white;
        margin: 20px;
    }
    
    .next{
        right: 0;   
    }
}