*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background: #D0EAEA;
    --primary: #2A49BD;
    --secondary: #1E8787;
}
html{
    scroll-behavior: smooth;
}
.header .nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 120px;
    height: 100px;
}

/* ----styling logo---- */
.header{
    background: linear-gradient(180deg, var(--background),var(--secondary));
    border-radius: 0 0 300px 0;
}
.header .nav_bar a{
    list-style: none;
}
.header .nav_bar a img{
    width: 80px;
    height: 80px;
}

/* ----styling navigation menues----- */
.header .nav_bar ul{
    display: flex;
}
.header .nav_bar ul li{
    list-style: none;
    padding: 0 40px;
}

.header .nav_bar ul li a{
    text-decoration: none;
    color: var(--secondary);
    font-size: 18px;
}

.header .nav_bar ul li a:hover{
    text-decoration:underline;
    transition: all 1;
    color: var(--primary);
}

/* ----styling hero section---- */
.intro{
    margin: auto 120px;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 100px);
    overflow: hidden;
}

/* ----styling text section of hte hero section---- */
.intro .intro_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.intro .intro_text h3{
    color: var(--secondary);
    padding: 16px 0;
}

.intro .intro_text h2{
    color: var(--primary);
}

.call_to_action_btn{
    text-decoration: none;
    color: var(--background);
    background-color: var(--primary);
    padding: 8px 16px;
}

.intro .intro_image{
    display: flex;
    justify-content: center;
}

.intro .intro_image img{
    height: 70vh;
}

/* styling about section  */
.about{
    margin: auto 120px;
    min-height: 100vh;
}

.about .col{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.about .about_image{
    min-width: 600px;
    height: 100vh;
    display: flex;
    height: 70vh;
    justify-content: flex-start;
    align-items: center;
}

/* styling about text  */

.about .about_text{
    padding-top: 100px;
    padding-right: 120px;
    min-width: 600px;
}

.about .about_text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-decoration: underline;
}

.about .about_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
    text-align:justify;
}

/* editing skill section of about me  */
.about>.col>.skills_text>h3{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-decoration: underline;
}

.skills_col{
    width: 600px;
}
.skills_col .skills{
    width: 500px;
    height: 40px;
    background-color: #2A49BD;
    text-align: center;
    line-height: 40px;
    border-radius: 16px;
    margin: 16px 0;
}

/* editing image of skills sections  */
.about .col .skill_img img{
    width: 400px;
}

th, td {
    padding: 15px;
    text-align: left;
  }